* {
	font-family: 'Arial', sans-serif;
	font-weight: 600;
	box-sizing: border-box;
	margin:0;
}
	
html, body {
	background: #cc0000;
	color: white;
	margin:0;
	}
	


body {
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
}

header,
footer,
aside,
main {
	grid-column: 1 / -1;
}

  
header {

	margin-top:90px;
	margin-bottom:60px;
}


header nav {
	width:100%;
}

header nav ul {
	list-style-type:none;
	margin:0;
	padding:0;


}

header nav li {
	float:left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  

  li a:hover {
	background-color: rgb(255, 0, 0);
  }

aside h1 {
	font-size: 100px;
	font-weight: bold;
	text-align: center;	
}

aside h2 {
	font-size: 50px;
	font-weight: bold;
	margin-bottom:50px;
	text-align: center;	
}

main ul{
	list-style-type:none;
}

main img{
	margin-bottom:40px;
}

aside h3 {
	font-size: 50pt;
	font-weight: bold;
	text-align: center;	

}

aside h4 {
	font-size: 40pt;
	font-weight: bold;
	text-align: center;	
	margin-bottom:100px;
}