body, html {
  height:100%;
}
body {
  font-family:Arial, sans-serif;
  overflow:hidden;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:#1d1d1d;
  flex-wrap:wrap;
}

.circle {
  width:9vw;
  height:9vw;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
  font-size:3vw;
 
}