@charset 'UTF-8';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
body {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    margin: 0;
    padding: 0;
}
img{
	display:block;
	-webkit-backface-visibility: hidden;
}
a {
    text-decoration: none;
}
sup{
    position: absolute;
    vertical-align: super;
}
#main {
	position: absolute;
	margin: auto;
	overflow: hidden;
}
#main div {
	position: absolute;
}
#collapsed {
	cursor:pointer;
	overflow: hidden;
}
#expanded{
	background-color: #FFF;
	overflow: hidden;
}
#exp_non_video_container{
	overflow: hidden;
}
#border{
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    pointer-events: none;
}
#preview_tag {
	position:absolute;
	width:300px;
	margin-top:2px;
	font-family:Arial;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	transform:translate3d(0, 0, 0);
}
#cta {
	overflow: hidden;
}
#exp_cta {
	overflow: hidden;
}
#click_area{
	opacity: 0;
	background-color: #000;
	cursor: pointer; cursor: hand;
}
#expand_btn{
	cursor: pointer; cursor: hand;
}
#close_btn{
	cursor: pointer; cursor: hand;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
