

#cover {
	visibility:visible;
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background: #000;
}
#container {
	width: 300px;
	height: 250px;
	position: relative;
	overflow:hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #000000;
}

#booking-widget {
	position: absolute;
	left:30px;
	top: 30px;
	width: 300px;
	height: 250px;
}

.city-select select {
	background: transparent;
	width: 150px;
	height: 21px;
	padding-left: 5px;
	font-size: 12px;
	line-height: 2;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.city-select {
	position: absolute;
	left:0;
	width:110px;
	height:21px;
	overflow: hidden;
	background: url(menuArrow.png) no-repeat right #fff;
	border: 1px solid #ccc;
}

#selectOrigin {
	position: absolute;
	top:53px;
}

#selectDestination {
	position: absolute;	
	top:53px;
	left:132px;
}

.num-select select {
	background: transparent;
	width: 101px;
	height: 21px;
	padding-left: 5px;
	font-size: 12px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.num-select {
	position: absolute;
	left:0;
	width:60px;
	height:21px;
	overflow: hidden;
	background: url(menuArrow.png) no-repeat right #fff;
	border: 1px solid #ccc;
}			



#selectAdults {
	position: absolute;
	left: 0px;
	top:145px;
}

#selectYAdults{
	position: absolute;
	left: 86px;
	top:145px;
}

#selectKids {
	position: absolute;
	left: 177px;
	top:145px;
}

.calendar input {
	background: transparent;
	width: 140px;
	height: 19px;
	padding-left: 5px;
	font-size: 12px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	outline: 0;
	-webkit-appearance: none;
}

.calendar {
	position: absolute;
	left:0;
	top:0;
	width:110px;
	height:21px;
	overflow: hidden;
	background: url(calIcon.png) no-repeat right #fff;
}			

#cal1{
	position: absolute;
	left:0px;
	top:95px;
	height:21px;
}

#cal2{
	position: absolute;
	left:132px;
	top:95px;
	height:21px;
}			

@media all and (-webkit-min-device-pixel-ratio : 1.5),
 all and (-o-min-device-pixel-ratio: 3/2),
 all and (min--moz-device-pixel-ratio: 1.5),
 all and (min-device-pixel-ratio: 1.5) {
 
  .city-select, .num-select{
    background-image: url(menuArrow_2x.png);
    background-size: 21px auto;
  }
   
  .calendar {
    background-image: url(calIcon_2x.png);
    background-size: 29px auto;
  
  }  
}